<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  <%= image_tag ("logo-neco-blue-email.png") %>
  <%= image_tag ("logo-neco-blue-email-2.png") %>
</body>
</html>